@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');;
@import "tailwindcss";


body {
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-brand: #2bcac1;
  --color-brand-dark: #11aba1;
  --color-brand-darker: #08867c;
  --color-secondary: #6c757d;
}

@layer components {
  .input-brand {
    @apply w-full h-[35px] mt-1 p-2 border rounded focus:outline-none focus:border-brand-dark focus:ring-1 focus:ring-brand-dark;
  }

  .button-primary{
    @apply w-[330px] h-[35px] py-2 bg-black text-white rounded hover:bg-[rgba(0,0,0,0.85)] cursor-pointer flex items-center justify-center
  }

  .underlined-text{
    @apply text-sm text-blue-600 text-center mt-3 cursor-pointer hover:underline
  }
}
